---
import {TAGS} from '../data/tags'
import ProjectCard from "./ProjectCard.astro"

const PROJECTS = [
      {
        title: 'UEFN Maps',
        description: `
        Developed Fortnite maps with UEFN, programming gameplay features and UIs with Verse. 
        Achieved +950K minutes played, ranking in the top 2% by playtime and top 20% of creators per Epic Games.
        `,
        link: '',
        github: '',
        image: '/images/uefn.webp',
        tags: [TAGS.unreal]
    },
    {
        title: 'Project ST',
        description: `Developed network-centric gameplay features and implemented unit tests, 
        ensuring stability and immersive multiplayer experiences.`,
        link: '',
        github: '',
        image: '/images/project-st.webp',
        tags: [TAGS.unreal, TAGS.cpp]
    },
    {
        title: 'The Harvest',
        description: `
        Revamped The Harvest's UI, working with the designer's Figma designs and the Tech Art team. 
        Added new features, connected game logic, and improved workflow 
        by componentizing the interface for seamless updates.`,
        link: '',
        github: '',
        image: '/images/TheHarvest.webp',
        tags: [TAGS.unreal, TAGS.cpp]
    }
]
---

<div class="flex flex-col gap-y-16">
    {
      PROJECTS.map(({ image, title, description, tags, link, github }) => (
        <ProjectCard
          image={image}, title={title}, description={description}, tags={tags}, link={link}, github={github}
        />      
      ))
    }
</div>